[Desktop Entry]
Encoding=UTF-8
Name=HELIX Core
Comment=HELIX P2P Cryptocurrency
Comment[fr]=HELIX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=HELIX, eşten eşe kriptografik sanal para birimi
Exec=helix-qt %u
Terminal=false
Type=Application
Icon=helix128
MimeType=x-scheme-handler/helix;
Categories=Office;Finance;
