
## <summary>policy for helix</summary>


########################################
## <summary>
##	Transition to helix.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`helix_domtrans',`
	gen_require(`
		type helix_t, helix_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, helix_exec_t, helix_t)
')


########################################
## <summary>
##	Execute helix server in the helix domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helix_initrc_domtrans',`
	gen_require(`
		type helix_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, helix_initrc_exec_t)
')


########################################
## <summary>
##	Search helix lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helix_search_lib',`
	gen_require(`
		type helix_var_lib_t;
	')

	allow $1 helix_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read helix lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helix_read_lib_files',`
	gen_require(`
		type helix_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, helix_var_lib_t, helix_var_lib_t)
')

########################################
## <summary>
##	Manage helix lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helix_manage_lib_files',`
	gen_require(`
		type helix_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, helix_var_lib_t, helix_var_lib_t)
')

########################################
## <summary>
##	Manage helix lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`helix_manage_lib_dirs',`
	gen_require(`
		type helix_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, helix_var_lib_t, helix_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a helix environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`helix_admin',`
	gen_require(`
		type helix_t;
		type helix_initrc_exec_t;
		type helix_var_lib_t;
	')

	allow $1 helix_t:process { ptrace signal_perms };
	ps_process_pattern($1, helix_t)

	helix_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 helix_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, helix_var_lib_t)

')

