# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=HELIX Core
Comment=HELIX Core QT main network
GenericName=HELIX Digital Currency QT client main network
Exec=helix-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/bitcoin.png
MimeType=x-scheme-handler/helix;
Categories=X-Office;X-Finance;
Keywords=internet;helix;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
