# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=HELIX Core
Comment=HELIX Core QT test network
GenericName=HELIX Digital Currency QT client testnet network
Exec=helix-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/helix_testnet.png
MimeType=x-scheme-handler/helix;
Categories=X-Office;X-Finance;
Keywords=internet;helix;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
